body {
    background-color: #c2bfbf ;
  }
 
  /* BARRE DE NAVIGATION */
  html,
  body{
         margin: 0 ;
         padding: 0;
  }
  
  header.head{
  display: flex;
  align-items: center;
  
  }
  header.head img {
  width: 200px;
  
  }
  .section.top-page{
      
      
      height: 90vh;
      padding: 30px;
  }
  .landing-page{
      padding: 1px 10px;
  }
   #menu
  {
  margin:auto;
  text-align:center;
  width: 95px;
  height: 30px;
  margin-bottom: 100px;
  }
  
  #menu ul
  {
      padding: 12px 10px;
  list-style-type:none;
  text-align:center;
  height: 30px;
  margin:3px;
  display: flex;
  justify-content: space-between;
  }
  
  #menu li
  {
  float:left;
  margin:0;
  width: auto;
  
  margin:auto;
  }
  
  #menu li a
  {
  display:block;
  padding: 2px 10px;
  color:#FFFFFFDF;
  text-decoration:none;
  font-size: 120%;
  font-family: Calibri, Verdana, serif;
  font-variant : small-caps;
  font-weight: bold;
  margin:auto;
  }
  
  
  #menu ul li ul
  {
  display: none;
  margin: auto;
  padding: 0;
  }
  
  #menu ul li ul a
  {
  font-size: 500px;
  margin:auto;
  
  }
  #menu ul li:hover ul
  {
  display:block;
  margin: 0;
  text-align:center;
  margin:auto;
  }
  
  #menu li:hover ul li
  {
  float:none;
  margin: 0;
  margin:auto;
  }
  
  #menu li ul
  {
  position:absolute;
  margin:auto;
  width: auto;
  }
  form {
    width: 1000px;
    margin: auto;
    margin-top: 110px;
    
  }
  input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
    height: 80px;
  }
  h2{
    color:#FFFFFFDF;
    font-size: 46px;
    margin-left: 490px;
  }
  .search {
    width: 75%;
  }
  .submit {
    width: 200px;
    background-color: #927e8c;
    color: black ;
    height:80px ;
  }
  .cgv, .copyright {
    text-decoration: none;
    color: #FFFFFFDF;
    margin-left: 430px;
    display: inline;
    margin-bottom: 120px;
}

.footer{
 background-color: #373333 ;
/* #312f2e;*/
 padding: 2rem 2rem 0;
 line-height: 2rem; /*espace entre les lignes*/
 margin-top: 5rem;
}
.footer span{
 margin-right: 1rem;
}
.footer-container{
 display:grid;
 grid-template-columns: repeat(4,1fr);
 color:#FFFFFFDF;
}
.footer-center a:link,
.footer-center a:visited{
 display: block;
 color:#FFFFFFDF;
 font-size: 16px;
 transition:0.6s;
 text-decoration: none;
}
.footer-center:hover{
 color: #927e8c ;
 }
.footer-center div{
font-size: 16px;
color:#FFFFFFDF;
}
.footer-center h3{
 font-size: 16px;
 font-weight: 400;
 margin-bottom: 1rem;
}